/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace views "com.rubyamf.demo.views.*";
@namespace comps "com.rubyamf.demo.views.components.*";
@namespace renderers "com.rubyamf.demo.views.renderers.*";
@namespace libComps "com.fosrias.library.views.components.*";
@namespace libViews "com.fosrias.library.views.*";

/* Global styles */
global
{
	rollOverColor: #2B2B2B;
}

/* Type styles */
mx|Alert 
{
	cornerRadius:          5;
	modalTransparencyBlur: 0;
	modalTransparency:     0;

}

mx|FormItem
{
	labelStyleName: editFormLayout;
}

mx|LinkButton 
{
	textRollOverColor: #F71147;
}

libComps|AutosizingRichEditableText 
{
	backgroundColor: #FFFFFF;
	color: 		     #CCCCCC;
}

views|MainUI 
{
	cornerRadius: 5;
}

renderers|GroupItemRenderer
{
	rollOverColor:  #808080;
	titleStyleName: listTitle;
}

renderers|PostItemRenderer
{
	titleStyleName: postTitle;
}

renderers|CommentItemRenderer
{
	titleStyleName: commentTitle;
	timestampColor: #555555;
	rollOverColor:  #2B2B2B;
}

comps|ActionButtons
{
	deleteButton: Embed(source="/assets/images/destroy.png");
	editButton:   Embed(source="/assets/images/edit.png");
}

comps|BreadcrumbLink
{
	linkStyleName: returnLink;
}

libViews|DebugConsole 
{
	labelColor: #666666;
}

/* Class styles */
.sessionLink
{
	rollOverColor: #3B3B3B;
}

.editFormLayout
{
	textAlign: left;
}

.listTitle
{
	color: 		#F71147;
	fontSize: 	14;
	fontWeight: bold;
}

.commentTitle
{
	color: 		#F71147;
	fontWeight: bold;
}

.postTitle
{
	color: 		#555555;
	fontSize: 	14;
	fontWeight: bold;
}

.actionLink
{
	color: 				#F71147;
	rollOverAlpha:      0;
	textDecoration:     underline;
	textRollOverColor:  #F71147;
	textSelectionColor: #F71147;
}

.returnLink
{
	color: 				#CCCCCC;
	rollOverAlpha:      0;
	textRollOverColor:  #F71147;
	textSelectionColor: #F71147;
}

